/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* REGOLE UTILITY */
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* CUSTOM PROPERTIES */
:root {
  --player-height: 80px;
  --content-header-height: 80px;
  --sidebar-width: 50px;
}

/* PER VEDERE I CONTAINER 
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dashed red;
}*/

/* XS FINO A 552PX */

/* TOP PART */
.top-part {
  display: flex;
  height: calc(100vh - var(--player-height));
}
/* SIDEBAR 
.sidebar {
  width: var(--sidebar-width);
  background-color: #000000;
  color: #6b6b6b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar p,
hr {
  display: none;
}
.playlist {
  display: none;
}
.top-icons,
.bottom-icons {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.top-icons img,
.bottom-icons img {
  width: 2rem;
}

.top-icons img:first-child {
  display: none;
}*/

/* CONTENT BLOCK */
.content-block {
  width: calc(100vw - var(--sidebar-width));
  overflow: auto;
}
.content-header {
  height: var(--content-header-height);
  background-color: #000000;
}
.content-main {
  height: calc(100vh - var(--content-header-height) - var(--player-height));
  background-color: #141922;
}

/* PLAYER */
.player {
  height: var(--player-height);
  background-color: #282828;
}

/* RESPONSIVE */

/* S 553PX-639PX */
@media screen and (min-width: 553px) {
  /*  
  .sidebar {
    width: calc(var(--sidebar-width) + 300px);
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .sidebar p,
  hr {
    display: inline-block;
  }
  .playlist {
    display: block;
  }
  .playlist p {
    display: block;
  }
  .top-icons img,
  .bottom-icons img {
    display: block;
  }
  .top-icons img:first-child {
    display: block;
    width: 9rem;
  }
  .top-icons img:nth-child(2) {
    display: none;
  }*/
}
/* MD 640PX-878PX */
@media screen and (min-width: 640px) {
}
/* LG 879PX-1440PX */
@media screen and (min-width: 879px) {
}
