/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

/* REGOLE UTILITY */
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* CUSTOM PROPERTIES */
:root {
  --player-height: 100px;
  --content-header-height: 80px;
  --sidebar-width: 50px;
}

/* PER VEDERE I CONTAINER 
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.236);
  border: 2px dashed red;
}*/

/* GRIGLIA DI COLONNE */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;

  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: 2rem;
}

[class*="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

/* XS FINO A 552PX */

/* TOP PART */
.top-part {
  display: flex;
  height: calc(100vh - var(--player-height));
}
/* SIDEBAR */
.sidebar {
  width: var(--sidebar-width);
  background-color: #000000;
  color: #6b6b6b;
  display: flex;
  flex-direction: column;
}
.logo {
  text-align: center;
}
.sidebar .logo-big {
  display: none;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}
.sidebar .logo-small {
  width: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav img {
  width: 2rem;
}
.nav li {
  text-align: center;
  padding-bottom: 0.8rem;
}
.nav span {
  display: none;
  padding-left: 0.3rem;
  font-weight: 600;
}
.playlist {
  display: none;
  overflow: auto;
}
.playlist h4 {
  color: white;
  padding-top: 0.6rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
.playlist li {
  padding-bottom: 1rem;
  font-weight: 600;
}
.new-playlist {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.new-playlist span {
  font-weight: 600;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #a3a3a3;
}
.square i {
  font-size: 1.5rem;
}
.user-download {
  text-align: center;
  margin-top: auto;
  margin-bottom: 0.5rem;
}
.user-download hr {
  color: #6d6d6d;
  margin-right: 1rem;
}
.user-download span,
hr {
  display: none;
  padding-left: 0.5rem;
  font-weight: 600;
}
.download {
  padding-bottom: 0.8rem;
}
.download img {
  width: 1rem;
}
.user {
  padding-top: 0.5rem;
}
.user span {
  color: white;
}
.user img {
  width: 1.5rem;
}

/* CONTENT BLOCK */
.content-block {
  width: calc(100vw - var(--sidebar-width));
  overflow: auto;
  background-color: #141922;
}
.content-header {
  height: var(--content-header-height);
  background-color: #000000;
  display: flex;
  justify-content: end;
  align-items: center;
}
.content-main {
  height: calc(100vh - var(--content-header-height) - var(--player-height));
}
.content-header button {
  color: white;
  font-size: 0.6rem;
  background-color: #000000;
  border: 1px solid #cfcfd0;
  border-radius: 20px;
  padding: 0.6rem 2rem;
  margin-right: 0.5rem;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.category p {
  color: #76787e;
  font-weight: 900;
  padding: 1rem;
  font-size: 0.8rem;
}
.created-for-you p,
.popular-artists p {
  font-size: 0.8rem;
  color: #76787e;
  font-weight: 900;
  padding-top: 0.8rem;
}
.recently-played h3,
.created-for-you h3,
.popular-artists h3 {
  color: white;
  font-size: 1.3rem;
}
.card img {
  max-width: 100%;
  margin-bottom: 1rem;
}
.bottom-card {
  text-align: center;
}
.bottom-card h5 {
  color: white;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.bottom-card p {
  color: #7d7f83;
}
/* PLAYER */
.player {
  height: var(--player-height);
  background-color: #282828;
  color: #6b6b6b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.song {
  display: flex;
  align-items: center;
}
.song img {
  width: 2rem;
}
.song h5 {
  color: white;
}
.song-name {
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.song-name p {
  font-size: 0.8rem;
}
.icons i {
  display: block;
  padding-bottom: 0.2rem;
}
.commands {
  max-width: 700px;
  width: 100%;
}
.min-line {
  background-color: #5a5a5a;
  height: 4px;
  width: 100%;
}
.top-commands {
  display: flex;
  justify-content: center;
}
.top-commands i {
  font-size: 1.3rem;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  padding-bottom: 1rem;
}
.top-commands i:nth-child(3) {
  font-size: 1.7rem;
}
.bottom-commands {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-commands p {
  font-size: 0.8rem;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}
.controls {
  display: flex;
}
.controls i {
  padding-right: 1rem;
}
.volume {
  display: flex;
  align-items: center;
}
.two {
  width: 5rem;
}

/* RESPONSIVE */

/* S 553PX-639PX */
@media screen and (min-width: 553px) {
  /* SIDEBAR */
  .sidebar {
    width: calc(var(--sidebar-width) + 250px);
  }
  .sidebar .logo-big {
    display: block;
    width: 150px;
  }
  .sidebar .logo-small {
    display: none;
  }
  .nav,
  .logo,
  .playlist,
  .user-download {
    padding-left: 1rem;
  }
  .nav li {
    text-align: left;
  }
  .nav span {
    display: block;
  }
  .link {
    display: flex;
    align-items: center;
  }
  .playlist {
    display: block;
  }
  .user-download span,
  hr {
    display: block;
  }
  .download,
  .user {
    display: flex;
    align-items: center;
  }
  /* PLAYER */
  .song br {
    display: none;
  }
}
/* MD 640PX-878PX */
@media screen and (min-width: 640px) {
  /* PLAYER */
  .icons i {
    display: inline-block;
    padding-left: 0.8rem;
  }
  .song-name {
    padding-right: 2rem;
  }
  .bottom-commands p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .top-commands i {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .two {
    width: 7rem;
  }
  /* MAIN */
  .col-1-2 {
    width: calc(100% / 4);
  }
}
/* LG 879PX-1440PX */
@media screen and (min-width: 879px) {
  /* MAIN */
  .col-1-2 {
    width: calc(100% / 6);
  }
}
